{% extends "layout.html" %}

{% block title %}Choose Your Interests{% endblock %}

{% block content %}
  <header>
    <h1>Create your profile</h1> <!-- Header text -->
  </header>

  <br>
  <h1>Choose Your Interests</h1>
  <div class="page-container">
    <div class="button-container">
        <button>Math</button>
        <button>Science</button>
        <button>English</button>
        <button>Social Studies</button>
        <button>Art</button>
        <button>Coding</button>
    </div>
    <div class="center-content">
        <button id="form-submit">Submit</button>
    </div>
  </div>
  <br>

  <h1>Choose Your Interests</h1>
  <form class="page-container" action="/submit_interests" method="POST">
      <div class="interests">
          <label><button type="button" name="interests" value="Math">Math</button></label>
          <label><button type="button" name="interests" value="Science">Science</button></label>
          <label><button type="button" name="interests" value="Social Studies">Social Studies</button></label>
          <label><button type="button" name="interests" value="English">English</button></label>
      </div>
      <div class="submit-container">
          <button type="submit">Submit</button>
      </div>
  </form>
  <br>
{% endblock %}