{% extends "layout.html" %}

{% block title %}Login - Edu Bites{% endblock %}

{% block content %}
  <header>
    <h1>Create your profile</h1> <!-- Header text -->
  </header>

  <br>
  <h1>Choose Your Interests</h1>
  <div class="page-container">
    <div class="button-container">
        <button>Math</button>
        <button>Science</button>
        <button>English</button>
        <button>Social Studies</button>
        <button>Art</button>
        <button>Coding</button>
    </div>
    <div class="submit-container">
        <button type="submit">
          <a class="submitbuttonshorts" href="/shorts.html">Submit</a>
        </button>
    </div>
  </form>
  <br>
{% endblock %}