<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Edu Bites{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <script src="https://kit.fontawesome.com/dd5b6b608a.js" crossorigin="anonymous"></script>
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar">
    <div class="navbar__container">
      <a href="{{ url_for('static', filename='images/Preview.png') }}" id="navbar__logo">Edu Bites</a>
      <div class="navbar__toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <ul class="navbar__menu">
        <li class="navbar__item">
          <a href="{{ url_for('index') }}" class="navbar__links">Home</a>
        </li>
        <li class="navbar__item">
          <a href="{{ url_for('tech') }}" class="navbar__links">Tech</a>
        </li>
        <li class="navbar__item">
          <a href="/" class="navbar__links">Products</a>
        </li>
        <li class="navbar__btn">
          <a href="{{ url_for('choice') }}" class="button">Sign Up</a>
        </li>
      </ul>
    </div>
  </nav>


  <!-- Main Content -->
  <main>
    {% block content %}{% endblock %}
  </main>

  <!-- Footer -->
  <div class="footer__container">
    <!-- Footer content goes here, omitted for brevity -->
    <div class="social__media--wrap">
      <div class="footer__logo">
        <a href="/" id="footer__logo"><i class="fas fa-gem"></i>Edu Bites</a>
      </div>
      <p class="website__rights">© Edu Bites 2024. All rights reserved</p>
      <div class="social__icons">
        <!-- Social media icons -->
        <a href="/" class="social__icon--link" target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="/" class="social__icon--link" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="/" class="social__icon--link" target="_blank">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="/" class="social__icon--link" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
